:root {
    /* bg-color */
    --bg-black1: #080502;
    --bg-black2: rgba(12, 11, 11, 0.00);
    --bg-black3: #0C0B0B;
    --bg-black4: rgba(255, 255, 255, 0.05);
    --bg-black5: rgba(255, 255, 255, 0.00);
    --bg-black6: #1D1A1A;
    --bg-black7: #151313;
    --bg-black8: rgba(255, 255, 255, 0.10);
    --bg-black9: #0C0C0C;
    --bg-yellow: #FFA800;
    --bg-orange: #F06500;
    --bg-green1: #00E396;
    --bg-purple: #8B35E2;
    --bg-blue: #00B2FF;
    --bg-red: #FF4560;
    --bg-white: white;

    /* color */
    --orange: rgba(240, 101, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --burlywood: burlywood;
    --orange: #F06500;
    --grey: #3F3E3E;
    --grey2: #6B6A69;
    --grey3: rgb(63, 62, 62);
    --grey4: #3D3C3C;


    /* font-size */
    --vvs: 14px;
    --vs: 18px;
    --s: 22px;
    --m: 28px;
    --l: 36px;
    --xl: 48px;
    --xxl: 96px;
}